<form action="/tasks/add" method="post">
    <div>
        <label for="title">
            White a title
        </label>
        <input type="text" name="title" placeholder="title" id="title" />
    </div>

    <div>
        <label for="description">
            description:
        </label>
        <textarea name="description" placeholder="description" id="description"></textarea>
    </div>
    <button>Add</button>
</form>