<form action="/edit/{{task._id}}" method="POST">
    <input 
        type="text" 
        name="title" 
        placeholder="Title"
        value="{{task.title}}"
        />
    <textarea 
        name="description" 
        placeholder="Add a Description" 
        rows="3">
    {{task.description}}
    </textarea>
    <button>Update</button>
</form>